html
  head
    title Example Title
  body
    main
    div
        h1 sub: 
        h1= sub
    div
        h1 sort: 
        h1= sort
    div
        for el in response
            li
                h1= el.data.title
                label author
                    h2= el.data.author
                label score
                    h2= el.data.score
                label number of comments
                    h2= el.data.num_comments
                a(href=`${el.data.url}`)
                    img(src=`${el.data.thumbnail}`)

